<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Mercado Liebre | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <div class="header-top-bar">
        <img class="logo" src="/img/logo-mercado-liebre.svg">

        <form class="busqueda">
            <div>
                <input  name="busqueda" class="barra-busqueda" type="text" placeholder="Buscar productos, marcas"></input>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>

        <p class="comprar-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprar en cuotas y sin tarjeta de credito</p>
        </div>

        <div class="nav-bar">
            <ul class="nav-bar1">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="nav-bar2">
            <li><a href="/register">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

    </header>
    <div class="position-origin-header"></div>

    <section >
        <img class="banner" src="/img/img-home-banner.jpg" alt="banner">
    </section>

    <form action="/crear-producto" method="post" class="create-form">
        <div>
            <label>Nombre del producto:</label>
            <input type="text" name="nombre">
        </div>

        <div>
            <label>precio:</label>
            <input type="number" name="precio" placeholder="123.56">
        </div>

        <label>Categoría:</label>
        <select name="Categoria">
        <option value="hogar">Hogar</option>
        <option value="electro">Electro</option>
        <option value="indumentaria">Indumentaria</option>
        </select>

        <label>Ciudad:</label>
        <select name="ciudad">
        <option value="bsAs">Buenos Aires</option>
        <option value="ros">Rosario</option>
        <option value="mdz">Mendoza</option>
        </select>

        <label>Descripcion del producto:</label>
        <textarea name="descripcionDeProducto" cols="20" rows="10"></textarea>

        <div>
            <label>Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>

        <button type="submit">Guardar</button>
        <button type="reset">Borrar</button>

        
    </form>
    
    <main>
        

    <section>
    <h2>Basado en tu ultima vista</h2>
        <div class="container">
     <article>
        <img src="/img/img-cafetera-moulinex.jpg">
        <div class="detalles">
            <i class="fa-solid fa-truck"></i>
            <!-- <div class="costo"> -->
             <p class="precio">$6.770</p>
             <p class="descuento">40% OFF</p>
            <!-- </div> -->
            <p class="descripcion">Cafetera Moulinex</p>
        </div>
     </article>

     <article>
        <img src="/img/img-macbook-pro-2019.jpg">
        <div class="detalles">
            <i class="fa-solid fa-truck"></i>
        <p class="precio">$230.000</p>
        <p class="descuento">20% off</p>
        <p class="descripcion">MacBook Pro 2019</p>
    </div>
     </article>

     <article>
        <img src="/img/img-samsung-galaxy-s10.jpg">
        <div class="detalles">
            <i class="fa-solid fa-truck"></i>
        <p class="precio">$70.500</p>
        <p class="descuento">10% off</p>
        <p class="descripcion">Samsung Galaxy S10</p>
        </div>
     </article>

     <article>
        <img src="/img/img-tv-samsung-smart.jpg">
        <div class="detalles">
        <i class="fa-solid fa-truck"></i>
        <p class="precio">$23.200</p>
        <p class="descuento">5% off</p>
        <p class="descripcion">SmartTv Samsung 43"</p>
    </div>
     </article>
    </div>

    </section>

    <section>
        <h2>Sección de Ofertas</h2>
        <div class="container">
        <article>
            <img src="/img/img-cafetera-moulinex.jpg">
            <div class="detalles">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
         </article>
    
         <article>
            <img src="/img/img-macbook-pro-2019.jpg">
            <div class="detalles">
                <i class="fa-solid fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="descripcion">MacBook Pro 2019</p>
        </div>
         </article>
    
         <article>
            <img src="/img/img-samsung-galaxy-s10.jpg">
            <div class="detalles">
                <i class="fa-solid fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="descripcion">Samsung Galaxy S10</p>
            </div>
         </article>
    
         <article>
            <img src="/img/img-tv-samsung-smart.jpg">
            <div class="detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="descripcion">SmartTv Samsung 43"</p>
        </div>
         </article>
        </div>

    </section>

    </main>
    
    <footer>
        <div class="footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        </div>  

        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
    
    </body>
</html>