<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Mercado Liebre | Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <div class="header-top-bar">
        <img class="logo" src="/img/logo-mercado-liebre.svg">

        <form class="busqueda">
            <div>
                <input  name="busqueda" class="barra-busqueda" type="text" placeholder="Buscar productos, marcas"></input>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>

        <p class="comprar-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprar en cuotas y sin tarjeta de credito</p>
        </div>

        <div class="nav-bar">
            <ul class="nav-bar1">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="nav-bar2">
            <li><a href="/register">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

    </header>
    <div class="position-origin-header"></div>

    <main class="main-register">
    <form action="/" method="" class="register">

        <section class="name">
            <input type="text" name="name" class="text-input" placeholder="Nombre y apellido" required>
            <!-- <span class="feedback"></span> -->
         </section>

        <section class="user-name"> 
            <input type="text" name="user-name" class="text-input" placeholder="Nombre de usuario" required>
        </section>

        <section class="birth-date">
            <label for="nacimiento" class="title">Fecha de nacimiento:</label>
            <input class="buttonDos"  type="date" name="birth-date" required>
        </section>

        <section class="dress">
        <input type="text" name="dress" class="text-input" placeholder="Domicilio" required>
        </section>

        <section class="profil">
        <label class="title">Perfil de usuario:</label>
        <div class="options">
        <div><label for="profil">Comprador</label><input class="rellenar" type="radio" name="profil" id="1"></div>
        <div><label for="profil">Vendedor</label><input class="rellenar"type="radio" name="profil" id="2"></div>
        </div>
        </section>

        <section class="categories">
        <label class="title">Intereses:</label>
        <div class="options">
        <div><label for="categories">Electro</label><input class="rellenar" type="checkbox"></div>
        <div><label for="categories">Moda</label><input class="rellenar" type="checkbox"></div>
        <div><label for="categories">Hogar</label><input class="rellenar" type="checkbox"></div>
        <div><label for="categories">Juguetería</label><input class="rellenar" type="checkbox"></div>
        <div><label for="categories">Vida sana</label><input class="rellenar" type="checkbox"></div>
        </div>
        </section>

        <section class="user-foto">
        <label for="user-foto">Foto de usuario:</label>
        <input class="buttonDos" type="file" name="user-foto" accept=".jpg">
        </section>

        <section class="password">
        <input type="password" name="password" class="text-input" placeholder="Contraseña" minlength="6" maxlength="10" required>
        </section>

        <section class="veri-password">
        <input type="password" name="veri-password" class="text-input" placeholder="Confirmar contraseña" minlength="6" maxlength="10" required>
        </section>

        <section class="email">
        <input type="email" name="email" class="text-input" placeholder="Email" required>
        </section>

        <section class="gender">
        <label class="title">Genero:</label>
        <div class="options">
        <div><label for="gender">Masculino</label><input class="rellenar" type="radio" name="gender" value="1"></div>
        <div><label for="gender">Femenino</label><input class="rellenar" type="radio" name="gender" value="2"></div>
        <div><label for="gender">Indefinido</label><input class="rellenar" type="radio" name="gender" value="3"></div>
        </div>
        </section>

        

        <section class="checkbox">
        <label>Estoy de acuerdo con terminos y condiciones:</label>
        <input class="rellenar" type="checkbox" name="checkbox" value="1">
        </section>  

        <button type="submit" class="button">Enviar</button>
        <button type="reset" class="button">reset</button>

    </form>
    </main>

    <footer>

        <div class="footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        </div>

        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
    
    </body>
</html>
